.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: opacity .2s linear;
}

.footer__column-link:first-child {
  margin-top: 0;
}

.footer__column-link:hover {
  opacity: .3;
}
