.rotation {
  z-index: 1;
  transform-origin: center;
  animation: circle 20s infinite linear;
}

@keyframes circle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
