@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-Bold.woff) format('woff'),
       url(../font/Inter-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-Regular.woff) format('woff'),
       url(../font/Inter-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../font/Inter-SemiBold.woff) format('woff'),
       url(../font/Inter-SemiBold.woff2) format('woff2');
  font-weight: 600;
}
